In [153]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import REST, TimeFrame
import pandas as pd

%matplotlib inline

In [154]:
# Load .env enviroment variables
load_dotenv()

True

In [155]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_code = os.getenv("ALPACA_CODE")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_code,
    api_version = "v2"
)

In [156]:
api = REST(key_id=alpaca_api_key,secret_key=alpaca_code,base_url="https://paper-api.alpaca.markets")

In [157]:
btcbars = api.get_crypto_bars("BTCUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [158]:
btcbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
btcbars = btcbars.rename(columns={
    "close": "BTC_close"
})
btcbars['timestamp'] = btcbars.index.date
btcbars = btcbars.set_index(btcbars['timestamp'])
btcbars.drop(columns = ['timestamp'], inplace=True)

                               
btcbars.head()

            BTC_close
timestamp
2021-01-25   32090.10
2021-01-25   32287.00
2021-01-26   31551.72
2021-01-26   31526.00
2021-01-27   30407.13

In [159]:
ethbars = api.get_crypto_bars("ETHUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [160]:
ethbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
ethbars = ethbars.rename(columns={
    "close": "ETH_close"
})
ethbars['timestamp'] = ethbars.index.date
ethbars = ethbars.set_index(ethbars['timestamp'])
ethbars.drop(columns = ['timestamp'], inplace=True)

                               
ethbars.head()

            ETH_close
timestamp
2021-01-25    1317.97
2021-01-25    1341.80
2021-01-26    1286.15
2021-01-26    1282.00
2021-01-27    1240.96

In [161]:
solbars = api.get_crypto_bars("SOLUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [162]:
solbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
solbars = solbars.rename(columns={
    "close": "SOL_close"
})
solbars['timestamp'] = solbars.index.date
solbars = solbars.set_index(solbars['timestamp'])
solbars.drop(columns = ['timestamp'], inplace=True)

                               
solbars.head()

            SOL_close
timestamp
2021-01-25     3.8050
2021-01-26     3.7500
2021-01-27     3.7450
2021-01-28     3.6900
2021-01-29     3.8325

In [163]:
bchbars = api.get_crypto_bars("BCHUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [164]:
bchbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
bchbars = bchbars.rename(columns={
    "close": "BCH_close"
})
bchbars['timestamp'] = bchbars.index.date
bchbars = bchbars.set_index(bchbars['timestamp'])
bchbars.drop(columns = ['timestamp'], inplace=True)

                               
bchbars.head()

            BCH_close
timestamp
2021-01-25    432.260
2021-01-25    429.450
2021-01-26    407.240
2021-01-26    407.725
2021-01-27    395.250

In [165]:
dogebars = api.get_crypto_bars("DOGEUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [166]:
dogebars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
dogebars = dogebars.rename(columns={
    "close": "DOGE_close"
})
dogebars['timestamp'] = dogebars.index.date
dogebars = dogebars.set_index(dogebars['timestamp'])
dogebars.drop(columns = ['timestamp'], inplace=True)

                               
dogebars.head()

            DOGE_close
timestamp
2021-01-25    0.008757
2021-01-26    0.008286
2021-01-27    0.012099
2021-01-28    0.070000
2021-01-29    0.032429

In [167]:
linkbars = api.get_crypto_bars("LINKUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [168]:
linkbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
linkbars = linkbars.rename(columns={
    "close": "LINK_close"
})
linkbars['timestamp'] = linkbars.index.date
linkbars = linkbars.set_index(linkbars['timestamp'])
linkbars.drop(columns = ['timestamp'], inplace=True)

                               
linkbars.head()

            LINK_close
timestamp
2021-01-25     23.3285
2021-01-26     22.1665
2021-01-27     23.5000
2021-01-28     22.1650
2021-01-29     22.3095

In [169]:
ltcbars = api.get_crypto_bars("ETHUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [170]:
ltcbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
ltcbars = ltcbars.rename(columns={
    "close": "LTC_close"
})
ltcbars['timestamp'] = ltcbars.index.date
ltcbars = ltcbars.set_index(ltcbars['timestamp'])
ltcbars.drop(columns = ['timestamp'], inplace=True)

                               
ltcbars.head()

            LTC_close
timestamp
2021-01-25    1317.97
2021-01-25    1341.80
2021-01-26    1286.15
2021-01-26    1282.00
2021-01-27    1240.96

In [171]:
trxbars = api.get_crypto_bars("TRXUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [172]:
trxbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
trxbars = trxbars.rename(columns={
    "close": "TRX_close"
})
trxbars['timestamp'] = trxbars.index.date
trxbars = trxbars.set_index(trxbars['timestamp'])
trxbars.drop(columns = ['timestamp'], inplace=True)

                               
trxbars.head()

            TRX_close
timestamp
2021-01-25   0.029612
2021-01-26   0.028700
2021-01-27   0.028735
2021-01-28   0.030818
2021-01-29   0.031775

In [173]:
unibars = api.get_crypto_bars("UNIUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [174]:
unibars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
unibars = unibars.rename(columns={
    "close": "UNI_close"
})
unibars['timestamp'] = unibars.index.date
unibars = unibars.set_index(unibars['timestamp'])
unibars.drop(columns = ['timestamp'], inplace=True)

                               
unibars.head()

            UNI_close
timestamp
2021-01-25     12.333
2021-01-26     13.677
2021-01-27     14.455
2021-01-28     14.979
2021-01-29     15.300

In [175]:
batbars = api.get_crypto_bars("BATUSD", TimeFrame.Day, "2021-01-25", "2022-04-01").df

In [176]:
batbars.drop(columns = ['exchange', 'open', 'high', 'low', 'volume', 'trade_count', 'vwap'], inplace=True)
batbars = batbars.rename(columns={
    "close": "BAT_close"
})
batbars['timestamp'] = batbars.index.date
batbars = batbars.set_index(batbars['timestamp'])
batbars.drop(columns = ['timestamp'], inplace=True)

                               
batbars.head()

            BAT_close
timestamp
2021-01-25   0.296225
2021-01-26   0.286950
2021-01-27   0.314525
2021-01-28   0.294825
2021-01-29   0.295675

In [178]:
crypto_data = pd.concat([btcbars, ethbars, solbars, avaxbars, dogebars, linkbars, ltcbars, maticbars, aavebars], axis="columns", join="inner")
crypto_data.head()

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [ ]:
start_date = pd.Timestamp("2020-04-05", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-04-05", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["BTCUSD", "ETHUSD"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1Day"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit = 1000
).df

# Preview DataFrame
df_ticker.head()